/*Separar el contenedor usando el grid*/

/*Estilos para la cabecera*/
body{
    font-family: Hind, sans-serif !important;
  }
  .cabecera {
    box-shadow: 0px 0px 7px 0px white;
    background-color: white;
    border-radius: 20px;
    background-image: url("../img/logoc.PNG");
    background-size: cover;
    background-position: center;
    margin: 10px;
    height: zpx;
    grid-area: cabecera;
    border: 1px solid white;
    width: 1270px;
  }
  .nav {
    color: #f4f5f5;
    font-size: 10px;
    line-height: 70px;
    float: left;
  }
  .nav a {
    display: inline-block;
    color: rgb(24, 22, 22);
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    font: 150% sans-serif;
  }


  ul,
ol {
  list-style: none;
}
.nav > li {
  float: left;
}
.nav li a {
  color: rgb(48, 43, 43);
  text-decoration: none;
  padding: 10px 12px;
  display: block;
}
.nav li a:hover {
  background-color: lightpink;
}
.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  background-color: white;
}
.nav li:hover > ul {
  display: block;
}


.wrapper {
    width: 95%;
    max-width: 1400px;
    margin: 10px;
    overflow: hidden;
  }
  header .ingresarn {
    float: right;
    line-height: 70px;
    color: #292828;
  }
  header .publicarn {
    float: right;
    line-height: 70px;
    color: #f2f2f2;
  }
  header .ingresarn a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    background: #f56f3a;
    border-radius: 10px;
    margin-left: 10px;
    font: 100% sans-serif;
  }
  header .ingresarn a:hover {
    background: #61afaf;
    border-radius: 10px;
  }
  
  