
/*header .global{
    background: url('../ima/acerca\ de.jpg');
}
*/


nav{
    background-color:gainsboro;
    font-family: 'Dekko';
    margin-top: 20px;
    position: relative; 
    margin-left: 50px;
    margin-right: 100px;
   
   }
   nav ul{
       list-style: none;
       padding: 0;
       margin:0;
       overflow: hidden;
   }
   nav > ul>li{
       float: left;
   
   }
   nav ul li a{
       text-decoration: none;
       color:black;
       display: block;
       padding: 10px 20px;
  
   }
   nav ul li a:hover{
       background-color:lightpink;
   }
   
   nav>ul>li:hover div{
       display:table;
   }
   /* Submenu*/
   nav ul li div{
       width: 1000px;
       position: absolute;
       left:0;
       background-color:darkgrey;
       box-sizing: border-box;
       display: none;
   }
   nav ul li div ul{
       width: 20%;
       display: table-cell;
       border-right: 0px;
       box-sizing: border-box;
   }
   nav ul li div ul :last-child{
       border:none;
   }
   /*nav ul li div ul p{
       background-color:black;
       color: white;
   }
   nav ul li div ul p a{
   
   }
   
   */
   nav ul li div ul li a:hover{
       color: black;
   
   }

 
   /*BOTONES*/
   .btn{
       border-radius: 3px;
       display: inline-block;
       padding: 10px 10px;
       text-decoration: none; 
       text-shadow: 0 1px 0px;
       
   }
   .btn-green{
       color: white;
       background-color: tomato;
   
   }
   .btn-green:hover{
       background-color:greenyellow;
   }
   .derecha{
      position: absolute;
     
      left: 900px;
      text-decoration: none;
      list-style: none;
      top: 20px;
   }
   .derecha1{
       position: absolute;
      
       left: 1000px;
       text-decoration: none;
       list-style: none;
       top: 20px;
    }
    header .global{
        position: relative;
        height: 700px;
    }
   
    
    /*Textos*/  /*BIENES RAÍCES*/
    header .textos{
       background-color: rgb(240, 240, 240);
        color:rgb(0, 0, 0);
        position: absolute;
        top: 50%;
        margin-top: -52px;
        text-align: center;
        border-style:inset;
        border-width: 9px 9px 9px 9px;
        border-color:rgb(71, 30, 30);
        border-radius:9px;
        width: 88%;
        margin: 48px;
       
    }
    .textos .nombre{
        font-size: 50px;
        font-weight: 600;
        font-family: 'Kavoon';
        font-weight: bolder;
        letter-spacing: 2px;
        text-shadow: 7px 4px 5px rgb(71, 30, 30);
        border-radius:20px;     
    }

    span.super {
        vertical-align: sub;
    }
    header .textos .nombre span{
   
       font-weight: 300;
       
    }
    header .textos h3{
        font-weight: 300;
        font-size: 25px;
       
    }
/*boton bienes raíces*/
    .botonE{
    height: 50px;
    width: 300px;
    background-color: #020202f3;
    font-family: 'Potta One'; 
    border-color: rgb(12, 12, 12);
    border-radius: 12px;
    font-size: 20px;
    color:#f1f1f1;

    }
/*FONDO DE BIENES RAÍCES*/
    #imagenFondo  {
    text-align: center;
    }

    .cabecera{
        font-family:'Akronim';
        font-size: 35px;
      color: rgba(71, 30, 30, 0.548);
        
    }
    .main{
        background: url('../img/textura.jpg');
        background-repeat: repeat;
    
    } 
    
/*PROPIEDADES*/
.propiedades {
    text-align: center;
    border-style: groove;
    width: 88%;
    margin: 48px;
    background-color: #eeeeeef3;
    border-radius: 12px;
    top: 50%;
}


/*INTENTO DE FLEXBOX*/
.container_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*BOTONES DE LAS PROPIEDADES ICONOS*/

.icono-contactar{
    height: 50px;
    width: 150px;
    background-color: #000000f3;
    font-family: 'Potta One'; 
    border-color: rgb(12, 12, 12);
    border-radius: 12px;
    font-size: 18px;
    color:#f1f1f1;
}
.icono-favorito{
    height: 50px;
    width: 50px;
    background-color: #ffd9d9f3;
    border-color: rgb(12, 12, 12);
    border-radius: 10px;
    
}

.icono-whatsaap{
    height: 50px;
    width: 50px;
    background-color: #c7ffbcf3;
    border-color: rgb(12, 12, 12);
    border-radius: 12px; 
}
    
    .main .acerca-de .contenedor{
        overflow: visible;
        position: relative;
    
    }
    
    .main .acerca-de .foto{
        width: 100%;
        position:absolute;
        left: 0;
        top: -50px;
        z-index: 0;
        box-shadow: 0px 0px 15px rgba(0,0,0,.35);
    
    }
    .main .acerca-de .foto img{
        vertical-align:top;
        width: 50%;
    
    }
    .main .acerca-de article{
        background: white;
        padding: 40px;
        width: 50%;
        position: relative;
        /*top:500px;*/
        top:150px ;
        z-index: 1;
        box-shadow: 0px 0px 15px rgba(0,0,0,.35);
        float: right;
    }
    .main .acerca-de article h3{
        font-size: 50px;
        font-weight: 40px;
        margin-bottom: 40px;
    }
    .main .acerca-de article p {
        line-height: 28px;
        margin-bottom: 15px;
    
    }
 
    /*Contenedor*/
    .main .menu{
        padding-top: 570px;
        margin-bottom: 50px;
    
    }
    .main .menu .titulo{
        font-size:40px;
        font-weight: 300px;
        text-align: center;
        margin-bottom: 40px;
    }
    .main .menu .contenedor-propiedades,
    .main .menu .contenedor-propiedades2{
        border: 1px solid black;
        background: transparent;
        padding: 10px;
        overflow: hidden;
    }
    
    .main .menu article{
        width: 50%;
        float: left;
        padding: 20px;
    
    }
    
    
    .main .menu .categoria{
        font-size: 22px;
        font-weight: 700px;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .main .menu .precios{
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 4px dotted black;
        overflow: hidden;
    }
    .main .menu .nombre{
        font-size: 20px;
        margin-bottom: 15px;
        float: left;
    
    }
    
    .main .menu .precio{
        font-size: 20px;
        margin-bottom: 15px;
        float: right;
    }
    
    .main .menu .descripción{
        font-size: 16px;
        color: #676767;
        clear: both;
    }
    /*Formulario*/
    .legendx {
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        display: block;
        text-transform: uppercase;
        font-weight: 5448px;
        width: 316px;
        overflow: hidden;
        background: #341338;
        margin-bottom: 20px;
        padding: 8px 2px 2px;
        margin-bottom: -220px;
        margin-top: -10%;
        margin-left: -0.9%;
        border-radius: 10px 10px 0px 0px;
        height: 60px;
    }
    .cont_iq1{
        box-shadow: 0px 0px 7px 0px white;
        display: grid;
        background-color: white;
        color: white;
        border-radius: 20px;
        margin: 10px;
        height: 1200px;
        width: 100%;
        width: 370px;
        grid-area: menur;
        border: 1px solid white;
        justify-items: center;
        
    }
    .legendx a {
        display:inline-block;
        color:rgb(237, 195, 241);
        text-decoration:none;
        padding:10px 10px;
        line-height:normal;
        font-size:50px;
        font-weight:bold;
        font: 60% sans-serif;
            
    }
    .legendx a:hover {
        background:#0f0611;
    }
    .contenedor-campos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: beige;
        
    }
    .campo{
        margin-bottom: 1rem;
        width: 100%;
        
        color:rgb(241, 235, 235);   
    }
    .w-100{
        color:#f4f5f5;
        font-size:10px;
        line-height:70px;
        float:left;
        background-color:#fff;
        border-radius:10px;
        padding:2px 70px;
        font: sans-serif; 
       width: 45%;
       height: 50px;
    }
    .w-100 a{
        display:inline-block;
        color:#fff;
        text-decoration:none;
        line-height:normal;	
    }
    ul, ol {
        list-style:none;
    }
    .w-100 > li {
        float:left;
    }
    .w-100 li a {
        background-color:#f4f5f5;
        color:rgb(48, 43, 43);
        text-decoration:none;
        padding:10px 12px;
        display:block;   
    }
    .w-100 li a:hover {
        background-color:#fff;
    }
    .w-100 li ul {
        display:none;
        position:absolute;
        min-width:140px;
    }
    .w-100 li:hover > ul {
        display:block;
    }
    .w-111{
        display: grid;
        background-color:#f8652b;
        border-radius:10px;
        width: 90%;
        align-items: center;
        justify-content: center;
     
    
     
        
    }
    .w-111 a{
        display: flex;
        align-items: center;
        justify-content: center;
        color:#fff;
        font-size: 15px;
    }
    .w-112{
        color:#f4f5f5;
        font-size:17px;
        line-height:70px;
        float:left;
        background-color: #fff;
        border-radius:10px;
        padding:9px 3px;
        font: 10px sans-serif;
        width: 105px;
        margin-top: 1%; 
    }
    .w-112 a{
        display:inline-block;
        color:rgb(70, 66, 66);
        text-decoration:none;
        line-height:normal;	
    }
    .w-113{
        color:#f4f5f5;
        font-size:17px;
        line-height:70px;
        float:left;
        background-color: #fff;
        border-radius:10px;
        padding:9px 3px;
        font: 60% sans-serif; 
        width: 105px;
        margin-left: 17%;
        margin-top: 1%;
    }
    .w-113 a{
        display:inline-block;
        color:rgb(70, 66, 66);
        text-decoration:none;
        line-height:normal;	
    }
    .w-222{
        color:#272929;
        font-size:15px;
        line-height:30px;
        float:left;
        background-color:#f4f5f5;
        border-radius:10px;
        padding:0px 70px;
        font: 10px sans-serif; 
         width: 45%;
         margin-top:-4%;
         height: 50px;
    }
    .w-222 a{
        display:inline-block;
        color:rgb(41, 40, 40);
        text-decoration:none;
        line-height:normal;
        padding: 0px 0px 0px 0px;	
    }
    
    .table{
        background-color: rgb(246, 246, 246);
        border-radius: 12px;
    }
    #table{
        background-color: rgb(246, 246, 246);
    
        border-radius: 12px;
    }
    /**************************************/
    .formulario2{
        background-color: #ffffff;
        padding: 2rem;
        border-radius: 10px;
        max-width:255px;
        margin: 10 auto;
        margin-left:5px;
        padding-left: 2rem;
        color: #fff;
        padding-top: -2%;
        
       
    }
    
    .contenedor-campos2{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: rgb(14, 14, 13);
    }
    .w-777{
        color:#272929;
        font-size:10px;
        line-height:30px;
        float:left;
        background-color:#fff;
        border-radius:10px;
        padding:0px 70px;
        font: sans-serif; 
         width: 45%;
         margin-top:1%;
         border:1px solid #212222; 
    }
    .sinborde {
        border: 0;
     
      }
    .w-777 a{
        display:inline-block;
        color:rgb(41, 40, 40);
        text-decoration:none;
        line-height:normal;	
        width: 100%;
    }
    .letrita{
        color:#fff;
        font: size 10;
        line-height:30px;
        float:left;
        background-color:#570f53;
        border-radius:10px;
        padding:0px 0px;
        font: sans-serif; 
         width: 300px;
         margin-top:-200%;
         height: 50px;
         margin-top: -120%;
         
    }
    .cajamenu{
        color:#fff;
        font: size 10;
        line-height:30px;
        float:left;
        background-color:#570f53;
        padding:0px 0px;
        font: sans-serif; 
         width: 300px;
         margin-top:-200%;
         height: 550px;
         margin-top: -154%;
         padding-left: 20px;
         border-radius:0px 0px 10px 10px ;
         margin-left: -0.9%;
    }
    .copyright{
        box-shadow: 0px 0px 7px 0px white;
        background-color: #570f53;
        color: white;
        margin: 10px;
        height: 100px;
        grid-area: foot;
        background-image: linear-gradient( rgba(96, 73, 99, 0.3), rgba(42, 42, 44, 0.8));
        width: 1311px;
        margin-left: 0.99px;
      
    }
    .ingresarn2 {
        float:right;
        line-height:70px;
        color:#292828;	
    }
    .ingresarn2 a {
        display:inline-block;
        color:#fff;
        text-decoration:none;
        padding:10px 20px;
        line-height:normal;
        font-size:20px;
        font-weight:bold;
        background:#f56f3a;
        border-radius:10px;
        margin-left: 10px;
        font: 100% sans-serif;
    }
    .ingresarn2 a:hover {
        background:#61afaf;
        border-radius:10px;
    }
    .destacado  {
        display:inline-block;
        color:#646566;
        text-decoration:none;
        padding:10px 20px;
        line-height:normal;
        font-size:20px;
        font-weight:bold;
        background:#fff;
        border-radius:20px;
        margin-left: 10px;
        font: 100% sans-serif;
        border:2px solid #646566;
    }
    .corazon  {
        display:inline-block;
        color:#646566;
        text-decoration:none;
        padding:5px 10px;
        line-height:normal;
        font-size:20px;
        font-weight:bold;
        background:#fff;
        border-radius:110px;
        margin-left: 20px;
        font: 100% sans-serif;
        border:2px solid #f56f3a;
    }
    
    #pie_pagina {
        display: flex;
        margin-top: 13px;
        background-image: url(..//img/fondo_pie_pagina.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
    
    .opcion {
        width: 25%;
        height: 100%;
        color: white;
        display: grid;
        padding: 2%;
    }
    
    .opcion a {
        text-decoration: none;
        color: white;
        font-size: 14px;
        margin-top: 12px;
    }
    
    .opcion h2 {
        font-size: 20px;
        font-weight: bold;
    }
    
    #aplica {
        display: flex;
    }
    
    #app h1 {
        font-size: 20px;
        margin-bottom: 18px;
        font-weight: bold;
    }
    
    #appimg {
        margin-top: 50px;
    }
    
    #pie {
        background-color: #410b3e;
        color: white;
    }